.content-wrapper{
    background: #ecf0f5;
    padding: 10px;
    z-index: -1;
    transition: .3s;
    margin-left: 245px;
}

@media(min-width: 768px){
    .wrapper.collaspe .content-wrapper{
        margin-left: 45px;
    }
}


@media(max-width: 767.88px){
    .content-wrapper{
        margin-left: 0;
    }
}